# Core
streamlit
python-dotenv

# LangChain & components
langchain
langchain-community
langchain-openai
langchain_google_genai

# FAISS
faiss-cpu  # use faiss-gpu if you're on GPU

# Embeddings & models
openai
google.generativeai

# Tokenization
tiktoken

# PDF parsing
pypdf
PyPDF2
pdfminer.six

# Utilities
sentence-transformers

# Optional LLM support
huggingface-hub